*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.header{
    padding: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
    border-radius: 0px 8px 8px 0px;
}

.logo{
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
}

nav.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav.menu a{
    padding: 10px 10px;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
}

nav.menu a:hover{
    background-color: rgb(207, 219, 236);
    color: steelblue;
}

.content{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
    margin: 15px;
}

.hello{
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.card{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    height: 100px;
}
