*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    font-family: 'Inter', 'Roboto', sans-serif;
    line-height: 1.5;
    color: #1f2937
}

/* base */

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #1d1d1dff;
    min-height: 100vh;
}

.container#user{
    grid-template-columns: 1fr;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
    border-radius: 0px 8px 8px 0px;
    top: 0;
    height: 100vh;
    position: sticky;

}

.logo{
    padding: 15px 0px 0px 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 700;
}

nav.menu{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

nav.menu div{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    gap: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;;
}

nav.menu div:hover{
    background-color: #f5f5f5;
}

nav.menu a.active div{
    background-color: #f5f5f5;
}

nav.menu a{
    text-decoration: none;
}

nav.menu div svg{
    color: grey;
}

nav.menu a.active svg{
    color: black;
}

nav.menu div p{
    font-size: 14px;
    color: grey;
}

nav.menu a.active p{
    color: black;
}

.admin-button{
    font-size: 14px;
    color: black;
    background-color: #f3f3f3;
    border-radius: 30px;
    box-shadow: none;
    text-decoration: none;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

#logout-button{
    width: 90%;
    text-align: center;
    margin: auto auto 20px auto;

}

/* flash notifications */
.flash-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.flash-message{
    opacity: 1;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    padding: 20px;
    transition: opacity 0.5s ease;
}

.flash-message.success{
    background-color: #28a745;
}

.flash-message.error{
    background-color: #dc3545;
}

.flash-message.fade-out{
    opacity: 0;
}


/* header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.header-right{
    display: flex;
    align-items: center;
}

.settings-icon{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.settings-icon:hover{
    background-color: #383838ff;
}

.header-time{
    font-size: 32px;
    border-right: 1px solid grey;
    padding-right: 20px;
    color: white;
}

/* login */
.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.login-form h1{
    margin-bottom: 30px;
}

.login-form input{
    width: 50%;
    height: 24px;
    font-size: 16px;
    margin-bottom: 15px;
}

#login-button{
    margin-top: 15px;
}

/* home */

.home-content{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
    margin: 30px;
}

.home-content h1{
    color: white;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: start;
}

.card{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.card h2{
    margin-bottom: 5px;
}

.user-list{
    list-style: none;
    margin-bottom: 15px;
}

.user-list li{
    padding: 15px 0px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}

.user-count{
    float: left;
    padding: 5px 0px;
    font-size: 14px;
}

#see-all-users{
    float: right;
}

.order-list{
    list-style: none;
    margin-bottom: 15px;
}

.order-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}

.home-orders{
    display: flex;
    gap: 5px;
}

.orders-card-bottom{
    display: flex;
    justify-content: space-between;
}

/* users database */

.db-content{
    margin: 30px;
}

.db-content h1{
    color: white;
}

.db-content h2{
    margin-bottom: 15px;
    color: white;
}

.db-users{
    width: 100%;
    background-color: white;
    border-spacing: 0px;
    border-collapse: separate;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.db-users td, .db-users th{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.db-users th{
    background-color: #f5f5f5;
    font-size: 14px;
    text-transform: uppercase;
}

.db-users td:last-child{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.db-users tr:last-child td{
    border-bottom: none;
}

#add-user{
    background-color: white;
}


/* register */

.register-content{
    margin: 15px;
}

.register-content h2{
    margin-bottom: 15px;
}

.register-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding: 20px;
}

.register-form input{
    margin-bottom: 15px;
    height: 24px;
}

#register-button{
    height: 30px;
}

/* user edit */

.edit-user-content{
    margin: 30px;
}

.edit-user-content h1{
    color: white;
}

.edit-user-content h2{
    margin-bottom: 15px;
}

.user-settings{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.user-stores h3{
    margin-bottom: 20px;
}

.user-store-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.user-store-card:hover{
    box-shadow: 0px 4px 40px -20px rgba(0,0,0,0.2);
}

.store-card-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.store-card-left p, .store-card-left svg{
    color: black;
}

.store-card-title .store-card-status{
    font-size: 12px;
    color: #666666;
}

.store-card-right{
    display: block;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.store-card-right.online{
    background-color: lightgreen;
}

.store-card-right.offline{
    background-color: red;
}


/* store edit */

.edit-store-content{
    margin: 30px;
}

.edit-store-content h1{
    color: white;
}


/* orders list */

.orders-content{
    margin: 30px;
}

.orders-content h1{
    color: white;
}

.orders-content h2{
    color: lightgrey;
}

.orders-content h2{
    margin-bottom: 15px;
}

.orders{
    width: 100%;
    background-color: white;
    border-spacing: 0px;
    border-collapse: separate;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.orders td, .orders th{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.orders th{
    background-color: #f5f5f5;
    font-size: 14px;
    text-transform: uppercase;
}

.orders tr:last-child td{
    border-bottom: none;
}

.orders .order-items{
    text-align: start;
}

.order-item-details{
    display: flex;
    align-items: center;
    gap: 5px;
}

.order-extra-products{
    margin-bottom: 10px;
}

.order-extra-products:last-of-type{
    margin-bottom: 0px;
}

.order-item-details p:nth-of-type(2), .order-extra-products{
    font-size: 14px;
    color: grey;
}

.order-delivery-date{
    font-weight: 700;
}

.order-dropdown-wrapper{
    position: relative;
    display: inline-block;
}

.order-actions-button{
    padding: 7px 10px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.order-actions-dropdown{
    position: absolute;
    display: flex;
    right: 0;
    min-width: 250px;
    max-width: 100%;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 40px -20px rgba(0,0,0,0.2);
    z-index: 999;
    overflow: hidden;
}

.order-actions-dropdown a, .order-actions-dropdown form{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    padding: 10px 10px;
    border-radius: 0px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.order-actions-dropdown form{
    padding: 0px;
}

.order-actions-dropdown button{
    all: unset;
    display: flex;
    padding: 10px 10px;
    width: 100%;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    cursor: pointer;
}

.order-actions-dropdown a:hover, .order-actions-dropdown form:hover{
    background-color: #f5f5f5;
}

#live-orders{
    margin-bottom: 30px;
}

#completed-orders{
    margin-bottom: 30px;
}

.soon-order {
    background-color: #FFF8E1;
}

.late-order {
    background-color: #FFEBEE;
}

/* orders grid */

.order-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 20px;
}

.order-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

.order-card-title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
}

.order-card-items{
    font-size: 20px;
    margin-top: 10px;
}

.order-card-customer{
    margin-top: 10px;
}

.order-card-actions{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.order-card-actions a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.order-card-actions form{
    display: flex;
    align-items: center;
    background-color: rgb(255, 57, 57);
    border-radius: 16px;
}

.order-card-actions form button{
    background-color: transparent;
    padding: 5px;
    border: 0px;
    cursor: pointer;
}

/* edit order */

.edit-order-content{
    margin: 30px;
}

.edit-order-content h2{
    margin-bottom: 15px;
}

.edit-order-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.general-info, .billing-info, .shipping-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.edit-order-form p, label{
    font-size: 14px;
}

.submit{
    display: flex;
    align-items: flex-end;
}

.edit-order-items{
    width: 100%;
    background-color: white;
    border-spacing: 0px;
    border-collapse: separate;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.edit-order-items td, .orders-items th{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.edit-order-items th{
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 12px;
    color: #535353;
    text-transform: uppercase;
}

.edit-order-items tr:last-child td{
    border-bottom: none;
}


/* settings */

.settings-content{
    margin: 30px;
}

.settings-content h1{
    color: white;
}

.settings-tab-buttons{
    width: 100%;
    border-bottom: 1px solid lightgrey;

}

.settings-tab{
    background-color: white;
    padding: 20px;
    border-radius: 0 8px 8px 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.tab-button{
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 8px 8px 0px 0px;
    border: 0px;
    background-color: #e4e4e4;
    cursor: pointer;
}

.tab-button.active{
    background-color: white;
}

.tab-title{
    margin-bottom: 10px;
}

.tab-subtitle{
    margin-top: 30px;
}

.tab-form{
    display: flex;
    flex-direction: column;
}

.form-setting{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid #e4e4e4
}

.tab-form .form-setting:last-of-type{
    border-bottom: 0px;
    margin-bottom: 10px;
}


/* custom checkbox */

.form-setting input[type="checkbox"]{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
}

.form-setting .checkmark{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: 2px solid #ddd;
}

.form-setting input[type="checkbox"]:checked + .checkmark{
    background-color: #007bff;
    border-color: #007bff;
}

.form-setting input[type="checkbox"] + .checkmark::after{
    content: "";
    position: absolute;
    display: none;
}

.form-setting input[type="checkbox"]:checked + .checkmark::after{
    display: block;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}
/* - */

.tab-form button{
    align-self: flex-end;
}

.user-profile{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

.form-setting input[type="text"]{
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 50%;
    height: 36px;
}

.form-setting select{
    width: 26%;
}