*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', 'Roboto', sans-serif;
    line-height: 1.5;
    color: #1f2937
}

/* base */

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
    border-radius: 0px 8px 8px 0px;
}

.logo{
    padding: 15px 0px 0px 15px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
}

nav.menu{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

nav.menu div{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    gap: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;;
}

nav.menu div:hover{
    background-color: #f5f5f5;
}

nav.menu a.active div{
    background-color: #f5f5f5;
}

nav.menu a{
    text-decoration: none;
}

nav.menu div svg{
    color: grey;
}

nav.menu a.active svg{
    color: black;
}

nav.menu div p{
    font-size: 14px;
    color: grey;
}

nav.menu a.active p{
    color: black;
}

.admin-button{
    font-size: 14px;
    color: black;
    background-color: #f3f3f3;
    border-radius: 30px;
    box-shadow: none;
    text-decoration: none;
    padding: 5px 10px;
    min-height: 32px;
    border: none;
    cursor: pointer;
}

#logout-button{
    text-align: center;
    margin: auto 15px 15px 15px;
}

/* login */
.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.login-form h1{
    margin-bottom: 30px;
}

.login-form input{
    width: 50%;
    height: 24px;
    font-size: 16px;
    margin-bottom: 15px;
}

#login-button{
    margin-top: 15px;
}

/* home */

.home-content{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
    margin: 30px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: start;
}

.card{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.card h2{
    margin-bottom: 5px;
}

.user-list{
    list-style: none;
    margin-bottom: 15px;
}

.user-list li{
    padding: 15px 0px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}

.user-count{
    float: left;
    padding: 5px 0px;
    font-size: 14px;
}

#see-all-users{
    float: right;
}

.order-list{
    list-style: none;
    margin-bottom: 15px;
}

.order-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}

.home-orders{
    display: flex;
    gap: 5px;
}

.orders-card-bottom{
    display: flex;
    justify-content: space-between;
}

/* users database */

.db-content{
    margin: 30px;
}

.db-content h2{
    margin-bottom: 15px;
}

.db-users{
    width: 100%;
    background-color: white;
    border-spacing: 0px;
    border-collapse: separate;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.db-users td, .db-users th{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.db-users th{
    background-color: #f5f5f5;
    font-size: 14px;
    text-transform: uppercase;
}

.db-users td:last-child{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.db-users tr:last-child td{
    border-bottom: none;
}

#add-user{
    background-color: white;
}


/* register */

.register-content{
    margin: 15px;
}

.register-content h2{
    margin-bottom: 15px;
}

.register-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding: 15px;
}

.register-form input{
    margin-bottom: 15px;
    height: 24px;
}

#register-button{
    height: 30px;
}

/* edit user */

.edit-user-content{
    margin: 15px;
}

.edit-user-content h2{
    margin-bottom: 15px;
}

.edit-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding: 15px;
    border-radius: 8px;
}

.edit-form input{
    height: 24px;
}

.edit-form p{
    margin-bottom: 15px;
    font-size: 12px;
}

#edit-user-button{
    height: 30px;
}


/* orders */

.orders-content{
    margin: 30px;
}

.orders-content h2{
    margin-bottom: 15px;
}

.orders{
    width: 100%;
    background-color: white;
    border-spacing: 0px;
    border-collapse: separate;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.orders td, .orders th{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.orders th{
    background-color: #f5f5f5;
    font-size: 14px;
    text-transform: uppercase;
}

.orders tr:last-child td{
    border-bottom: none;
}

.order-item-details{
    font-size: 14px;
    color: grey;
}

.order-delivery-date{
    font-weight: 700;
}

#live-orders{
    margin-bottom: 30px;
}

.order-alert{
    background-color: orange;
}

#add_order{
    background-color: white;
}


/* edit order */

.edit-order-content{
    margin: 30px;
}

.edit-order-content h2{
    margin-bottom: 15px;
}

.edit-order-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.general-info, .billing-info, .shipping-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.edit-order-form p, label{
    font-size: 14px;
}

.submit{
    display: flex;
    align-items: flex-end;
}

.edit-order-items{
    width: 100%;
    background-color: white;
    border-spacing: 0px;
    border-collapse: separate;
    border-radius: 8px;
    box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.2);
}

.edit-order-items td, .orders-items th{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.edit-order-items th{
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 12px;
    color: #535353;
    text-transform: uppercase;
}

.edit-order-items tr:last-child td{
    border-bottom: none;
}