{% extends "base.html" %}

{% block content %}
<div class="db-content">
    <h2 class="db-title">User Database</h2>
    <table class="db-users">
        <tr class="db-header-row" style="background-color: #f0f0f0;">
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>{{ default_user.username }}</td>
            <td>{{ default_user.email }}</td>
        </tr>
        {% for us in users %}
            <tr class="db-row">
                <td> {{ us.username }} </td>
                <td> {{ us.email }} </td>
                <td>
                    <a class="admin-button" href="{{ url_for('users.edit_user', user_id=us.id) }}">Edit</a>
                    <form action=" {{ url_for('users.delete_user', user_id = us.id) }}" method="POST"> <button class="admin-button" type="submit" onclick="return confirm('Are you sure?')">Delete</button> </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="admin-button" id="add-user" href=" {{ url_for('users.register')}} ">Add user</a>
</div>
{% endblock %}