{% extends "base.html" %}

{% block content %}
<div class="edit-store-content">
    {% include "header.html" %}
    <div class="settings-tab">
        <div class="tab-content" id="api-creds">
            <h3>API Credentials</h3>
            <form method="POST" class="tab-form" id="api-form">
                <div class="form-setting">
                    <label for="api_key">API Key</label>
                    <input type="text" name="api_key" value="{{ store.api_key }}">
                </div>

                <div class="form-setting">
                    <label for="api_secret">API Secret</label>
                    <input type="text" name="api_secret" value="{{ store.api_secret }}">
                </div>

                <div class="form-setting">
                    <label for="store_url">Store URL</label>
                    <input type="text" name="store_url" value="{{ store.store_url }}">
                </div>

                <input type="hidden" name="form_name" value="store_api">
                <button type="submit" class="admin-button">Save</button>
            </form>
        </div>
        <div class="tab-content" id="addons">
            <h3>Addons</h3>
            <form method="POST" class="tab-form" id="addons-form">
                {% for addon in addons.keys() %}
                    <div class="form-setting" id="{{ addon }}-setting">
                        <label for="{{ addon }}">{{ addon.replace('_', ' ').title() }}</label>
                        <input type="checkbox" name="addons" value="{{ addon }}" {% if addon in store.addons %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </div>
                {% endfor %}

                <input type="hidden" name="form_name" value="store_addons">
                <button type="submit" class="admin-button">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}