{% extends "base.html" %}

{% block content %}
<div class="edit-order-content">
    <h2>Edit order {{ order.id }} of {{ order.customer_name }}</h2>
    <form class="edit-order-form" method="POST">

        <div class="general-info">
            <h3>General</h3>
            {% if 'delivery_date_and_time' in store.addons %}
                <p>Delivery method: {{ order.addons.get('delivery_date_and_time', {}).get('delivery_method', None) | title }}</p>
                <p>Delivery date: {{ order.addons.get('delivery_date_and_time', {}).get('delivery_date', None) }}</p>
                <p>Delivery time slot: {{ order.addons.get('delivery_date_and_time', {}).get('time_slot_start_time', None) }} - {{ order.addons.get('delivery_date_and_time', {}).get('time_slot_end_time', None) }}</p>
                <p>Delivery fee: {{ order.addons.get('delivery_date_and_time', {}).get('time_slot_fee', 0) }} RON</p>
            {% endif %}
            <div class="status">
                <label for="status">Status</label>
                <select name="status" id="status">
                    {% set options = ["in_kitchen", "ready", "delivered"] %}
                    {% for option in options %}
                        <option value="{{ option }}">{{ option.title() }}</option>
                    {% endfor %}
                </select>
                <p>Current status: {{ order.status }}</p>
            </div>
        </div>

        <div class="shipping-info">
            <h3>Shipping</h3>
            <p>Customer name: {{ order.customer_name }}</p>
            <p>Payment method:
                {% if order.payment_method == "cod" %}
                    Cash on delivery
                {% elif order.payment_method == "bacs" %}
                    Bank transfer
                {% endif %}
            </p>
        </div>
        
        <div class="submit">
            <input class="admin-button" id="edit-order-button" type="submit">
        </div>
    </form>

    <table class="edit-order-items">
        <tr>
            <th>Item name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for item in order.line_items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total }} RON</td>
            </tr>
        {% endfor %}
        {% if order.time_slot_fee  %}
            <tr>
                <td></td>
                <td></td>
                <td>Delivery fee:</td>
                <td>{{ order.time_slot_fee }} RON</td>
            </tr>
        {% endif %}
        <tr>
            <td></td>
            <td></td>
            <td>ORDER TOTAL:</td>
            <td>{{ order.total }} RON</td>
        </tr>
    </table>
</div>
{% endblock %}