{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-content">
    {% include "header.html" %}
    <div class="cards">
        <div class="card" id="users-card">
            <h2>Users</h2>
            <ul class="user-list">
                {% for us in users %}
                    <li>{{ us.username }} - Role: {{ us.role }}</li>
                {% endfor %}
            </ul>
            <p class="user-count">User count: {{ user_count }}</p>
        </div>

    </div>
</div>

{% endblock %}