{% macro order_row(order, settings, store) %}
    <td>{{ order.id }}</td>

    {% if settings.show_customer %}
        <td>{{ order.customer_name }}</td>
    {% endif %}

    {% if settings.show_items %}
        <td class="order-items">
            {% for product in order.line_items %}
                <div class="order-item-details">
                    <p>{{ product.name }}</p>
                    <p>{{ product.quantity }} x {{ product.price }} lei</p>
                </div>
                {% if settings.show_extra_products %}
                    <div class="order-extra-products">
                            {% for extras in order.addons.get('extra_products', {}).get(product.name, []) %}
                                {{ extras.get('display_key') }}: {{ extras.get('display_value') }}
                            {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </td>
    {% endif %}

    {% if settings.show_payment_method %}
        <td>
            {% if order.payment_method == "cod" %}
                {{ t("cod") }}
            {% elif order.payment_method == "bacs" %}
                {{ t("bacs") }}
            {% endif %}
        </td>
    {% endif %}

    {% if settings.show_delivery_method %}
        <td><p class="order-delivery-method">
            {{ order.addons.get('delivery_date_and_time', {}).get('delivery_method', None) | title }}
        </p></td>
    {% endif %}

    {% if settings.show_delivery_date %}
        <td>
            <p class="order-delivery-date">
                {{ order.addons.get('delivery_date_and_time', {}).get('delivery_date', None) }}
            </p>
            {{ order.addons.get('delivery_date_and_time', {}).get('time_slot_start_time', None) }} - {{ order.addons.get('delivery_date_and_time', {}).get('time_slot_end_time', None) }}
        </td>
    {% endif %}

    {% if settings.show_status %}
        <td>
            {{ t(order.status) }}
        </td>
    {% endif %}
                        
    {% if settings.show_total %}
        <td>{{ order.total }} RON</td>
    {% endif %}

    <td class="order-buttons">
        <a href="{{ url_for('orders.update_status', id=order.id) }}"
           class="admin-button order-check-button"
           title="{{ t('update_status') }}"
           aria-label="{{ t('update_status') }}">
            ✅
        </a>
    </td>
{% endmacro %}



{% macro order_card(order, settings) %}
         <div class="order-card order-card-link" data-href="{{ url_for('orders.edit_order', id=order.id) }}"
>
            <div class="order-card-content">
                <p class="order-card-title">
                    <span>{{ t("order") }}: #{{ order.id }}</span>
                    <span>{{ order.addons.get('delivery_date_and_time', {}).get('time_slot_start_time', None) }} - {{ order.addons.get('delivery_date_and_time', {}).get('time_slot_end_time', None) }}</span>
                </p>

                {% for product in order.line_items %}
                    <p class="order-card-items">{{ product.quantity }} x {{ product.name }}</p>
                    {% if settings.show_extra_products %}
                        <div class="order-extra-products">
                                {% for extras in order.addons.get('extra_products', {}).get(product.name, []) %}
                                    {{ extras.get('display_key') }}: {{ extras.get('display_value') }}
                                {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

                <p class="order-card-customer">{{ order.customer_name }}</p>
            </div>

            <div class="order-card-actions">
                <a href="{{ url_for('orders.update_status', id=order.id) }}"
                class="admin-button order-check-button"
                title="{{ t('update_status') }}"
                aria-label="{{ t('update_status') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" width="20" height="20">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                    </svg>
                    {{ t("update_status") }}
                </a>
            </div>
        </div>
{% endmacro %}