{% extends "base.html" %}

{% block content %}
<div class="orders-content">
    <h2>Live orders</h2>
    <table class="orders" id="live-orders">
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Items</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
            {% for order in orders if order.status != "completed" %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.billing.first_name }} {{ order.billing.last_name }}</td>
                    <td class="order-items">
                        {% for product in order.line_items %}
                            <p>{{ product.name }} <span class="order-item-details">{{ product.quantity }} x {{ product.price }} lei</span></p>
                        {% endfor %}
                    </td>
                    <td>
                        {% if order.payment_method == "cod" %}
                            Cash on delivery
                        {% elif order.payment_method == "bacs" %}
                            Bank transfer
                        {% endif %}
                    </td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.total }} RON</td>
                    <td class="order-buttons">
                        <a href=" {{ url_for('orders.edit_order', id=order.id) }} " class="admin-button" id="edit_order">Edit order</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

    <h2>Completed orders</h2>
    <table class="orders" id="completed-orders">
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Items</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
            {% for order in orders if order.status == "completed" %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.billing.first_name }} {{ order.billing.last_name }}</td>
                <td class="order-items">
                    {% for product in order.line_items %}
                        <p>{{ product.name }} <span class="order-item-details">{{ product.quantity }} x {{ product.price }} lei</span></p>
                    {% endfor %}
                </td>
                <td>
                    {% if order.payment_method == "cod" %}
                        Cash on delivery
                    {% elif order.payment_method == "bacs" %}
                        Bank transfer
                    {% endif %}
                </td>
                <td>{{ order.status }}</td>
                <td>{{ order.total }} RON</td>
                <td class="order-buttons">
                    <a href=" {{ url_for('orders.edit_order', id=order.id) }} " class="admin-button" id="edit_order">Edit order</a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}