{% extends "base.html" %}

{% block content %}
<div class="settings-content">
    {% include "header.html" %}
    <div class="settings-tab-buttons">
        <button class="tab-button" id="general-button" onclick="openTab('general')">General</button>
        <button class="tab-button" id="display-button" onclick="openTab('display')">Display</button>
    </div>

    <div class="settings-tab">
        <div class="tab-content" id="general-content">
            <h3 class="tab-title">General</h3>
            <div class="user-profile">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="32" height="32"><path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" /></svg>
                <p class="sidebar-username">{{ curr_user }}</p>   
            </div>
            <form method="POST" class="tab-form" id="general-form">
                <div class="form-setting">
                    <label for="api_key">API Key</label>
                    <input type="text" name="api_key" value="{{ store.api_key }}">
                </div>

                <div class="form-setting">
                    <label for="api_secret">API Secret</label>
                    <input type="text" name="api_secret" value="{{ store.api_secret }}">
                </div>

                <div class="form-setting">
                    <label for="store_url">Store URL</label>
                    <input type="text" name="store_url" value="{{ store.store_url }}">
                </div>

                <input type="hidden" name="form_name" value="general">
                <button type="submit" class="admin-button">Save</button>
            </form>
        </div>

        <div class="tab-content" id="display-content">
            <h3 class="tab-title">Display</h3>

            <form method="POST" class="tab-form" id="display-form">
                <div class="form-setting">
                    <label for="display_type">Show grid display</label>
                    <select name="display_type">
                        <option value="grid" {% if settings.display_type == "grid" %}selected{% endif %}>Grid</option>
                        <option value="list" {% if settings.display_type == "list" %}selected{% endif %}>List</option>
                    </select>
                </div>
                
                {% for field in ['show_customer', 'show_items', 'show_payment_method', 'show_delivery_method', 'show_delivery_date', 'show_status', 'show_total'] %}
                    <div class="form-setting" id="{{ field }}-setting">
                        <label for="{{ field }}">{{ field.replace('_', ' ').title() }} column</label>
                        <input type="checkbox" name="{{ field }}" {% if getattr(settings, field) %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </div>
                {% endfor %}

                <input type="hidden" name="form_name" value="display">
                <button type="submit" class="admin-button">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src=" {{ url_for('static', filename='js/settings.js') }} "></script>
{% endblock %}