{% if users %}
    <p>We have {{ users|length }} users</p>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr style="background-color: #f0f0f0;">
            <th>#</th>
            <th>Username</th>
        </tr>
        {% for user in users|reverse %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ user }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if users|length > 5 %}
        <p>We have a big group today!</p>
    {% endif %}
{% else %}
    <p>No users found.</p>
{% endif %}